*~
*.swp
*.o
INSTALL
Makefile
Makefile.in
autom4te.cache/
bin2bas
compile
config.h
config.h.in
config.log
config.status
configure
debian/.debhelper/
debian/autoreconf.after
debian/autoreconf.before
debian/debhelper-build-stamp
debian/files
debian/taptools.debhelper.log
debian/taptools.substvars
debian/taptools/
depcomp
install-sh
missing
mkp3fs
sna2tap
specform
stamp-h1
tap2dsk
tapcat
tapget
tapls
tapsplit
unspecform

